@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat:wght@400;700&display=swap');
:root{
    --primaryColor:	#1c2431; /*intro and email sign up background*/
    --mainBackground:#181f2a;/*main background*/
    --mainFooter: #0b1523;/*footer*/
    --mainQuotes:#202a3c;/*quotes background*/
    --mainCyan:#65e2d9;/*inside call-to action gradient*/
    --mainBlue: #339ecc;/*inside call-to action gradient*/
    --mainWhite: #ffffff;/*just white :X*/
}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--mainBackground);
    font-family: 'Montserrat', sans-serif;
    color: var(--mainWhite);
}
header {
    background-color: var(--primaryColor);
    background-image: url('images/bg-curvy-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 80px;
}
.container{
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;

}
img{
    max-width: 100%;
}
p{
    line-height: 1.5;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.nav-ul{
    display: flex;
    padding: 0;
    list-style: none;
}
.nav-ul li a{
    color: var(--mainWhite);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
}
.logo{
    height: 60px;
}
.hero{
    margin: 20px auto;
    max-width: 100%;
    width: 600px;
    text-align: center;
}

h1{
    line-height: 1.5;
}
.btn{
   color: white;
   padding: 16px 60px;
   border-radius: 50px;
   background-image: linear-gradient(to right, #65e2d9, #339ecc); 
   border: 0;
}
.feature{
    width: 400px;
    text-align: center;
    margin: 40px;
}
.feature img{
    color: var(--mainWhite) !important;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.info img{
    margin-right: 50px;
    width: 400px;
}
.info-text{
    flex: 1;
    width: 400px;
}
.quotes{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.quote{
    flex: 1;
    max-width: 400px;
    background-color: var(--mainQuotes);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.quote .person{
    display: flex;
    margin-top: 30px;
}
.quote .person img{
    border-radius: 50%;
    margin-right: 10px;
    height: 40px;
    width: 40px;
}
.quote .person h5{
    margin: 0;   
}
.quote .person h6{
    font-weight: normal;
    opacity: 0.7;
    margin: 5px 0;   
}
form{
    background-color: var(--primaryColor);
    margin: 0 auto -100px;
    width: 800px;
    max-width: 100%;
    padding: 40px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}
.form-control{
    display: flex;
}
.form-control input{
    border: 0;
    padding: 16px 60px;
    border-radius: 50px;
    border: 0;
    flex: 1;
    margin-right: 20px;
}
form h1{
    margin: 0 auto;
}
form p{
    margin: 30px 0;
}
footer{
    background-color: var(--mainFooter);
    padding: 150px 0 50px;
}


