body {
  font-family: "Playfair Display", Serif;
  /*font-size: 48px; /*heading*/
  background: #e0e0e0; 
  color: #707070;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 16px; /*-secondary*/
}

.container{
    max-width: 400px;
    min-width: 400px;
}
.title{
    font-weight: 700;
    font-size: 50px;
}
.form-rounded{
    border-radius: 2em;
}
.back-card{
    border-radius: 40px !important;
}
.city-name{
    
    position: absolute;
    width: 100%;
}
.city-name p{
    font-family: "Playfair Display", Serif !important;
    font-size: 16pt;
    font-weight: 400;
}
.city-name span{
    font-weight: 400;
    font-size: 36pt;
    font-family: "Source Sans Pro", Sans-Serif;
    position: relative;
    top: -60px;
}