@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
h3{
color: #fbe122;
  font-size: 1.5rem;
}
.nav-container {
  background-color: #da291c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h2 {
  color: #fbe122;
  font-size: 3rem;
  padding-left: 500px;
}
.nav-container img {
  height: 20vh;
  margin: 20px;
}
.main-container {
  display: flex;
  width: 100%;
}
.trophy-room {
  background-image: url(/images/trophy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding: 10%;
}
.first-squad-members {
  background-image: url(/images/squad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding: 10%;
}
.footer-container{
  font-size: 22px;
  background-color:  #fbe122;
  padding: 66px;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.btn-primary{
   background-color: #fbe122;
   padding: 6px 50px;
   border-radius: 50px;
   border: 0;
  
}
.btn-primary a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
